/* =============
    Typography
============= */

//remember: if adding in a new font family, must embed it in head.kit
body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: rem-calc(50);
}

.pull-quote{
    font-weight: rem-calc(100);
}