/* =============
    Header
============= */
header{
    width: 100%;
    top: 0;
    left: 0;
    // position: fixed;
    background-color: green;
    z-index: 100;

    div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px;

        #burger-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;

           
        }
    }
}